#jumbotron{
	padding-bottom: 200px;
	padding-top: 5px;
	margin-top: 2px;
	
	background-color: white;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;	
}
#dropdown-menu{
	position: fixed;
top: 1.4%;
right: 0.5%;
}
.vl{
	border-left:1px solid grey;
	height:300px;
  position: absolute;
  left: 40%;
  margin-left: -3px;
  top: 45%;
}
#btn-emp1{
	margin-top: 10px;
}
#btn-emp{
	margin-top: 1%;
	margin-bottom: 10px;
}
#btn-select{
	margin-bottom: 10px;
}